/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/

/*fondo*/
body{
background-image: url(../img/fondo3.jpg);/*fondo de la pagina*/
background-repeat: no-repeat;
background-size: cover;
}
/*titulo1*/
h1{
font-family: 'Shadows Into Light', cursive;
color: darkred;
margin-left: 10px;
font-size: 60px;
text-align: center; 
}
/*titulo2*/
h2{
font-family: 'Indie Flower', cursive;
color: darkred;
margin-left: 10px;
font-size: 20px;
text-align: left; 
}
/*titulo3*/
h3{
font-family: 'Shadows Into Light', cursive;;
color: yellow;
font-size: 30px;
text-align: center; 
}


header{
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

nav{
width: 1000px;
height: 50px;
background: red;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: black;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset; 

}

section{
	width: 700px;
	background: salmon;
	height: 400px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}
aside{

	width: 280px;
	background: indianred;
	height: 400px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

footer{
width: 400px;
height: 70px;
background: maroon;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}




/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: yellow; text-decoration: none;}
.menu:visited{color: yellow; text-decoration: none;}
.menu:hover{color: yellow; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: yellow; text-decoration: none;}

/*SEUDO CLASES*/

















